/* style.css */
body {
  display: flex;
  flex-direction: column; /* stack elements vertically */
  justify-content: center; /* center vertically (optional) */
  align-items: center; /* center horizontally */
  height: 100vh; /* make body full height for vertical centering */
  margin: 0;
  font-family: Helvetica;
  background-color: rgb(222, 60, 11);
}

.buttons {
  margin: 8px; /* spacing between buttons */
  padding: 15px 30px;
  font-size: 32px;
  background-color: rgb(21, 87, 138);
  color: white;
  border-radius: 8px;
  cursor: pointer;           /* Changes cursor to a hand icon */
  transition: background-color 0.4s, color 0.4s;
  font-family:Sans-Serif;
}

text#text{
  font-size: 150px;
  color: white;
}

.buttons:hover {
  background-color: #04AA6D; /* Green background on hover */
  color: white;              /* Text remains white */
}